[package]
name = "engine"
version = "0.1.0"
edition = "2024"

[dependencies]

[profile.dev]
codegen-units = 1
lto = "fat"
overflow-checks = true

[profile.release]
codegen-units = 1
lto = "fat"
overflow-checks = true

[lints.clippy]
pedantic = "warn"
